@{
    string controller = this.ViewContext.RouteData.Values["controller"].ToString();
    string action = this.ViewContext.RouteData.Values["action"].ToString();
}

<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a class="navbar-brand" href="/">
                    <div class="brand-logo"></div>
                    <h2 class="brand-text mb-0"></h2>
                </a>
            </li>

            <li class="nav-item nav-toggle">
                <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse">
                    <i class="feather icon-square d-block d-xl-none font-medium-4 primary toggle-icon"></i>
                    <i class="toggle-icon feather icon-x-square font-medium-4 d-none d-xl-block collapse-toggle-icon primary" data-ticon="icon-disc"></i>
                </a>
            </li>

        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item">
                <a href="/"><i class="feather icon-home"></i><span class="menu-title" data-i18n="Dashboard">Dashboard</span></a>
                <ul class="menu-content">
                    <li>
                        <a href="/dashboard/clinical"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Clinical">Clinical</span></a>
                    </li>
                    <li>
                        <a href="/dashboard/analytics"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Analytical">Analytics</span></a>
                    </li>
                </ul>
            </li>

            @if (controller.Equals("Registration"))
            {
                <li class=" nav-item">
                    <a href="#"><i class="feather icon-list"></i><span class="menu-title" data-i18n="Data List">Registration</span></a>
                    <ul class="menu-content active">
                        <li>
                            <a href="/registration/search"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="List View">Search Patients</span></a>
                        </li>
                        <li>
                            <a href="/registration/new"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Thumb View">Register New</span></a>
                        </li>
                        <li>
                            <a href="/registration/anonymous"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Thumb View">Anonymous</span></a>
                        </li>
                        <li>
                            <a href="/registration/recent"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Thumb View">Recent Patients</span></a>
                        </li>
                    </ul>
                </li>
            }
            else if (controller.Equals("Billing")) {
                <li class=" nav-item">
                    <a href="#"><i class="feather icon-list"></i><span class="menu-title" data-i18n="Data List">Billing/Finance</span></a>
                    <ul class="menu-content active">
                        <li>
                            <a href="/billing/cashier"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="List View">Cashier</span></a>
                        </li>
                        <li>
                            <a href="/registration/new"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Thumb View">Finance</span></a>
                        </li>
                    </ul>
                </li>
            }

            <li class=" navigation-header">
                <span>Applications</span>
            </li>
            <li class=" nav-item">
                <a href="/applications/emails"><i class="feather icon-mail"></i><span class="menu-title" data-i18n="Email">Email</span></a>
            </li>
            <li class=" nav-item">
                <a href="/applications/chat"><i class="feather icon-message-square"></i><span class="menu-title" data-i18n="Chat">Chat</span></a>
            </li>
            <li class=" nav-item">
                <a href="/applications/todo"><i class="feather icon-check-square"></i><span class="menu-title" data-i18n="Todo">Todo</span></a>
            </li>
            <li class=" nav-item">
                <a href="/applications/calender"><i class="feather icon-calendar"></i><span class="menu-title" data-i18n="Calender">Calender</span></a>
            </li>

            <li class=" navigation-header">
                <span>Modules</span>
            </li>
            <li class=" nav-item">
                <a href="/finance/cashier"><i class="feather icon-tag"></i><span class="menu-title" data-i18n="Email">Cashier</span></a>
            </li>
        </ul>
    </div>
</div>