@{
    ViewData["Title"] = "Nurses Bay";
}

    <ul>
        <li>OPD Schedule</li>
        <li>Triage</li>
        <li>Procedures</li>
        <li>Schedule Appointment</li>
        <li>Cross Consultation</li>
    </ul>