@{
    ViewData["Title"] = "Doctors Workbench";
}


    <ul>
        <li>OPD/Workbench</li>
        <li>CPOE Ordering</li>
        <li>EMR</li>
        <li>MRD</li>
        <li>Birth Notification</li>
        <li>Fluid Balance Chart</li>
        <li>Prescription Auditing</li>
        <li>Infection Control</li>
        <li>Nursing Workbench</li>
    </ul>