@{
    ViewData["Title"] = "Enquire";
}

    <ul>
        <li>Patient Enquiry</li>
        <li>Appointment Enquiry</li>
        <li>Investigation Enquiry</li>
        <li>Drug Orders Enquiry</li>
        <li>Inpatient Enquiry</li>
        <li>Appointment Enquiry</li>
        <li>Account Creation</li>
    </ul>